<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Welcome!</title>
        {% load static %}
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link rel="stylesheet" href="{% static 'css/header.css' %}">
        
    </head>
    <body>

        <!-- Navigation -->
        <div class="logout_button">

            <a href="/login_registration"><button class="button">Login</button></a>
            <a href="/login_registration"><button class="button">Register</button></a>
            
        </div>

        <!-- Logo -->
        <header>

            <h1>
                <a href="/home"><img src="{% static 'images/company_logo.png' %}"/> </a>
            </h1>

            <hr>

        </header>

        <!-- Main Content -->
        <div class="content">

            <h1> Welcome to Pokemon Battle! Login to Begin Battling</h1>

            <div class="customcontent">

                {% for i in pokemon %}
                    <div class="pokemon">
                        <object data="https://img.pokemondb.net/artwork/large/{{i.name}}.jpg">
                            <img src="{% static 'images/default_logo.png' %}" alt="{{i.name}}"/>
                        </object>
                    <p> {{i.name}} </p>
                    </div>
    
                {% endfor %}
    
    
            </div>
        </div>
    </body>
</html>
